/* chose colors by using: https://coolors.co/ */
/* scheme chosen: https://coolors.co/a4036f-048ba8-16db93-efea5a-f29e4c */

/* start defining the colors here to act as consts then assgin them to variables*/
/* mainly here for readability */
:root {
  --flirt: #a4036f;
  --blue-munsell: #048ba8;
  --medium-aquamarine: #16db93;
  --corn: #efea5a;
  --sandy-brown: #f29e4c;

  --primary-background: var(--blue-munsell);
  --font-color: var(--flirt);

  /* for links */
  --secondary-font-color: var(--medium-aquamarine);

  --card-background: var(--corn);
  --highlight-color: var(--sandy-brown);
}

body {
  background-color: var(--primary-background);
  color: var(--font-color);
}

/* links! */
a {
  color: var(--secondary-font-color);
}
/* What selected text will look like */
::selection {
  background-color: var(--highlight-color);
  color: var(--primary-background);
}

/* Making sure our font looks good */
body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  width: 95%;
  margin: 0 auto;
  padding: 2.5rem;
  text-align: center;
}

header h1 {
  padding: 1rem 1.2rem;
  font-size: 2rem auto;
}

main {
  width: 95%;
  margin: 2rem auto;
}

footer {
  margin: 1.5 rem;
  text-align: center;
}

/* flex row! */
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  justify-content: center;
}

/* flex column */
.column {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
}

/* puts a nice outline around things */
.outline {
  outline: 2px solid var(--highlight-color);
  border-radius: 8px;
}

/* hovering causes GLOWING! */
.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100%;
  padding: 2rem;
  transition: all 0.5s ease-in-out;
}

.card:hover,
.card:hover .card-title {
  box-shadow: inset 0px 0px 8px var(--highlight-color);
  transition: all 0.5s ease-in-out;
  /* 0 0 15px --var(highlight-color); */
}

.card-title {
  position: relative;
  margin: -3rem 0 1.5rem 0;
  padding: 0.5rem 1rem;
  transition: all 0.5s ease-in-out;
  background: var(--primary-background);
}

pre {
  margin-top: 1rem;
}
/* 
    code block should use monospace to make it look like it's in a text editor
    do NOT use monospace on the rest of the page to make it stand out
*/
.code-sample {
  font-family: "Courier New", Courier, monospace;
  background-color: var(--corn);
}
